{{>header}}


<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/subheader-imgs/subheader-inside-hogwarts.jpg" class="d-block w-100" alt="...">

                <div class="container" data-aos="zoom-in">
                    <div class="carousel-caption text-start">
                        <h1 class="text-uppercase brdcrmb-hdr-txt">About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">

        <div class="row featurette mb-5">
            <div class="col-md-7">
                <h2 class="featurette-heading" data-aos="slide-right">Hogwarts: School for Wizards and Witches</h2>
                <p class="lead">Hogwarts School of Witchcraft and Wizardry is a British boarding school of magic for
                    students aged eleven to eighteen. Founded in the 10th century by Godric Gryffindor, Rowena
                    Ravenclaw, Helga Hufflepuff and Salazar Slytherin, Hogwarts was established in the Highlands of
                    Scotland to educate young wizards and witches as well as to keep students safe from muggle
                    persecution. </p>

                <p class="lead">Rowena Ravenclaw came up with the name of Hogwarts after dreaming of a warty hog that
                    led her to a cliff by a lake. Since then, Hogwarts educated most wizarding children in the United
                    Kingdom and its surrounding areas, keeping its location hidden from other wizarding schools and
                    muggles.</p>
            </div>
            <div class="col-md-5">
                <img src="/about-page/about-hogwarts-school.jpg"  data-aos="slide-left"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                </img>

            </div>
        </div>

        <hr class="featurette-divider  mb-5">

        <div class="row featurette mb-5">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading" data-aos="slide-left">Houses of Hogwarts</h2>
                <p class="lead">The four Houses of Hogwarts are called Gryffindor, Hufflepuff, Ravenclaw, and Slytherin.
                    Each House has its own noble history and each has produced outstanding witches and wizards. While
                    you are at Hogwarts, your triumphs will earn your House points, while any rule breaking will lose
                    House points. At the end of the year, the House with the most points is awarded the House Cup, a
                    great honour. I hope each of you will be a credit to whichever House becomes yours.</p>

                <p class="lead">Hogwarts School of Witchcraft and Wizardry was divided into four Houses: Gryffindor,
                    founded by Godric Gryffindor; Hufflepuff, founded by Helga Hufflepuff; Ravenclaw, founded by Rowena
                    Ravenclaw; and Slytherin, founded by Salazar Slytherin.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/about-page/about-great-hall.jpg"  data-aos="slide-right"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                </img>

            </div>
        </div>

        <hr class="featurette-divider mb-5">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading" data-aos="slide-right">The Great Hall in the Hogwarts Castle</h2>
                <p class="lead">The Great Hall in the Hogwarts Castle was the main gathering area in the school, which
                    was located off the Entrance Hall. It was a large hall where students and teachers dined and
                    congregated. Three meals a day were hosted in this hall. The Great Hall was the main place where
                    students received their meals and daily owl post. They also held certain special events, such as the
                    Sorting ceremony, and the Hallowe'en Feast.</p>

                <p class="lead">At the front of the hall was the staff table, also known as the High Table, which was
                    designed to house the entire Hogwarts staff. In the centre of the table was a throne chair where the
                    present Headteacher sat. At the left of the table was a door which led to a chamber with portraits.
                </p>
            </div>
            <div class="col-md-5">
                <img src="/about-page/houses-hogwarts.jpg"  data-aos="slide-left"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                </img>

            </div>
        </div>
    </div>


    <section class="team mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="common-heading ptag">
                        <span>Hogwarts Professors</span>
                        <h2 data-aos="zoom-in">Our Headmaster and Professors</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="full-image-card hover-scale">
                        <div class="image-div" data-aos="zoom-in"><a href="#"><img src="/about-page/albus-dumbledore.jpg" alt="Albus Dumbledore" title="Albus Dumbledore"
                                    class="img-fluid" /></a></div>
                        <div class="info-text-block">
                            <h4><a href="#">Albus Dumbledore</a></h4>
                            <p>Hogwarts Headmaster</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="full-image-card hover-scale">
                        <div class="image-div" data-aos="zoom-in"><a href="#"><img src="/about-page/severus-snape.jpg" alt="Severus Snape" title="Severus Snape" class="img-fluid" /></a></div>
                        <div class="info-text-block">
                            <h4><a href="#">Severus Snape</a></h4>
                            <p>Dark Art Professor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="full-image-card hover-scale">
                        <div class="image-div" data-aos="zoom-in"><a href="#"><img src="/about-page/minerva-mcGonagall.jpg" alt="Minerva McGonagall" title="Minerva McGonagall "
                                    class="img-fluid" /></a></div>
                        <div class="info-text-block">
                            <h4><a href="#">Minerva McGonagall </a></h4>
                            <p>Transfiguration Professor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


{{>footer}}