{{>header}}

<main>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active sldr">
                <img src="/slider-imgs/hogwarts4.jpg" class="d-block w-100" alt="...">

                <div class="container">
                    <div class="carousel-caption"  data-aos="zoom-in">
                        <h1 class="text-uppercase sldr1-hdr-txt">Welcome To The <br />School of Hogwarts</h1>
                        <p class="sldr1-ptxt">Hogwarts School of Witchcraft and Wizardry is a British boarding school of
                            magic for students
                            aged eleven to eighteen.</p>
                        <p class="sldr1-btn"><a class="btn btn-lg btn-primary" href="/">Register Now</a></p>
                    </div>
                </div>
            </div>

            <div class="carousel-item sldr">
                <img src="/slider-imgs/inside-hogwarts3.jpg" class="d-block w-100" alt="...">

                <div class="container">
                    <div class="carousel-caption"  data-aos="zoom-in">
                        <h1 class="text-uppercase sldr2-hdr-txt">Hogwarts Quidditch Pitch</h1>
                        <p class="sldr2-ptxt">Hogwarts School of Witchcraft and Wizardry had its own Quidditch pitch
                            where Quidditch teams
                            could practise, hold try-outs and play matches against each other.</p>
                        <p class="sldr2-btn"><a class="btn btn-lg btn-primary"
                                href="https://harrypotter.fandom.com/wiki/Hogwarts_Quidditch_pitch">Learn more</a></p>
                    </div>
                </div>

            </div>


            <div class="carousel-item sldr">
                <img src="/slider-imgs/hogwarts2.jpg" class="d-block w-100" alt="...">

                <div class="container">
                    <div class="carousel-caption text-end"  data-aos="zoom-in">
                        <h1 class="text-uppercase sldr3-hdr-txt">Hogwarts Great Hall</h1>
                        <p class="sldr3-ptxt">The Great Hall in the Hogwarts Castle was the main gathering area in the
                            school, which was
                            located off the Entrance Hall. It was a large hall where students and teachers dined and
                            congregated.</p>
                        <p class="sldr3-btn"><a class="btn btn-lg btn-primary"
                                href="https://harrypotter.fandom.com/wiki/Great_Hall">Learn
                                More</a></p>
                    </div>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="container" style="margin-top: 80px; margin-bottom: 100px;">
        <h2 class="heading2 text-center">Make Your Future With The Wand of Education</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-4 crd-hvr"  data-aos="zoom-in">
                <div class="card text-center">
                    <div class="card-body crd-styl">
                        <img src="/icon-imgs/ai.png" alt="" class="icon-imgs">
                        <h5 class="card-title">Artificial Intelligence</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4 crd-hvr"  data-aos="zoom-in">
                <div class="card text-center">
                    <div class="card-body crd-styl">
                        <img src="/icon-imgs/ml.png" alt="" class="icon-imgs">
                        <h5 class="card-title">Machine Learning</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4 crd-hvr"  data-aos="zoom-in">
                <div class="card text-center">
                    <div class="card-body crd-styl">
                        <img src="/icon-imgs/cybs.png" alt="" class="icon-imgs">
                        <h5 class="card-title">Cyber Security</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4 crd-hvr"  data-aos="zoom-in">
                <div class="card text-center">
                    <div class="card-body crd-styl">
                        <img src="/icon-imgs/cs.png" alt="" class="icon-imgs">
                        <h5 class="card-title">Computer Science</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4 crd-hvr"  data-aos="zoom-in">
                <div class="card text-center">
                    <div class="card-body crd-styl">
                        <img src="/icon-imgs/it.png" alt="" class="icon-imgs">
                        <h5 class="card-title">Information Technology</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4 crd-hvr"  data-aos="zoom-in">
                <div class="card text-center">
                    <div class="card-body crd-styl">
                        <img src="/icon-imgs/iot.png" alt="" class="icon-imgs">
                        <h5 class="card-title">Internet of Things</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container" style="margin-top: 80px; margin-bottom: 100px;">
        <div class="row featurette mb-5 mt-5">
            <div class="col-md-7">
                <h2 class="featurette-heading heading2" data-aos="zoom-in">Hogwarts: School for Wizards <br />and Witches</h2>
                <p class="lead">Hogwarts School of Witchcraft and Wizardry is a British boarding school of magic for
                    students aged eleven to eighteen. Founded in the 10th century by Godric Gryffindor, Rowena
                    Ravenclaw, Helga Hufflepuff and Salazar Slytherin, Hogwarts was established in the Highlands of
                    Scotland to educate young wizards and witches as well as to keep students safe from muggle
                    persecution. </p>

                <p class="lead">Rowena Ravenclaw came up with the name of Hogwarts after dreaming of a warty hog that
                    led her to a cliff by a lake. Since then, Hogwarts educated most wizarding children in the United
                    Kingdom and its surrounding areas, keeping its location hidden from other wizarding schools and
                    muggles.</p>
            </div>
            <div class="col-md-5">
                <img src="/about-page/about-hogwarts-school.jpg" data-aos="slide-left"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                </img>

            </div>
        </div>
    </div>


    <div class="container marketing mt-5 mb-5">
        <h2 class="text-center mb-5 heading2">Houses in Hogwarts</h2>
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-3">
                    <img src="/home-page/gryffindor-logo.jpg" data-aos="zoom-in-right"
                     class="bd-placeholder-img rounded-circle" width="140" 
                        height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                    <title>Placeholder</title>
                    </img>

                    <h3 class="mt-3">Gryffindor: The Brave Lion </h3>
                    <p>The Gryffindor house emphasised the traits of courage as well as "daring, nerve, and chivalry",
                        and thus its members were ....
                    </p>
                    <p><a class="btn btn-danger" data-aos="slide-right" href="https://harrypotter.fandom.com/wiki/Gryffindor">Know More About
                            Us
                            &raquo;</a></p>
                </div>

                <div class="col-lg-3">
                    <img src="/home-page/slytherine-logo.jpg"  data-aos="zoom-in-right"
                    class="bd-placeholder-img rounded-circle" width="140"
                        height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                    <title>Placeholder</title>
                    </img>

                    <h3 class="mt-3">Slytherine: The Sinister Serpent</h3>
                    <p>Slytherin are known for being ambitious, cunning, and resourceful. Slytherins are also sometimes
                        regarded as being evil ....</p>
                    <p><a class="btn btn-success" data-aos="slide-right" href="https://harrypotter.fandom.com/wiki/Slytherin">Know More About
                            Us
                            &raquo;</a></p>
                </div>

                <div class="col-lg-3">
                    <img src="/home-page/hufflepuff-logo.jpg"  data-aos="zoom-in-right"
                    class="bd-placeholder-img rounded-circle" width="140"
                        height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                    <title>Placeholder</title>
                    </img>

                    <h3 class="mt-3">Hufflepuff: The Loyal Badger</h3>
                    <p>Hufflepuff values hard work, dedication, patience, loyalty, and fair play rather than a
                        particular aptitude in its members. Hufflepuffs ....</p>
                    <p><a class="btn btn-warning text-white" data-aos="slide-right" href="https://harrypotter.fandom.com/wiki/Hufflepuff">Know
                            More About Us
                            &raquo;</a></p>
                </div>

                <div class="col-lg-3">
                    <img src="/home-page/ravenclaw-logo.jpg"  data-aos="zoom-in-right"
                    class="bd-placeholder-img rounded-circle" width="140"
                        height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                    <title>Placeholder</title>
                    </img>

                    <h3 class="mt-3">Ravenclaw: The Clever Eagle</h3>
                    <p>Ravenclaws possess the traits of cleverness, wisdom, wit, intellectual ability and creativity.
                        Ravenclaws are so competitive when it comes ....</p>
                    <p><a class="btn btn-primary" data-aos="slide-right" href="https://harrypotter.fandom.com/wiki/Ravenclaw">Know More About
                            Us
                            &raquo;</a></p>
                </div>
            </div>
    </div>


    <section class="team" style="padding-top: 80px; padding-bottom: 100px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="common-heading ptag">
                        <h2 class="heading2" data-aos="zoom-in">Hogwarts School Campus</h2>
                        <p class="mb0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="full-image-card hover-scale">
                        <div class="image-div"  data-aos="zoom-in"><a href="#"><img src="/home-page/campus-tour1.jpg" alt="team"
                                    class="img-fluid" /></a></div>
                        <div class="info-text-block">
                            <h4>Sasa Smile</h4>
                            <p>Company CEO</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="full-image-card hover-scale">
                        <div class="image-div" data-aos="zoom-in"><a href="#"><img src="/home-page/campus-tour3.jpg" alt="team"
                                    class="img-fluid" /></a></div>
                        <div class="info-text-block">
                            <h4>Moana Smile</h4>
                            <p>Company CTO</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="full-image-card hover-scale">
                        <div class="image-div" data-aos="zoom-in"><a href="#"><img src="/home-page/campus-tour2.jpg" alt="team"
                                    class="img-fluid" /></a></div>
                        <div class="info-text-block">
                            <h4>Bhvika Smile</h4>
                            <p>Company COO</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>

{{>footer }}